<h1>Add a Town</h1>

<form method="post" action="/towns">
    <div class="form-group">
        <label for="Name">Name:</label>
        <input type="text" id="Name" name="Name" />
    </div>
    <div class="form-group">
        <label for="TimeAway">Time from Denver in minutes:</label>
        <input type="text" id="TimeAway" name="TimeAway" />
    </div>
    <div class="form-group">
        <label for="DistanceRT">Miles from Denver (rounded to nearest mile):</label>
        <input type="text" id="DistanceRT" name="DistanceRT" />
    </div>
    <button type="submit">Create Town</button>
</form>